.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 100px 35px 500px;
  border:1px solid red;
}
.topheader{
   background-color: black;
   color: white; 
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 2;
   border: 1px solid black;
   display: flex;
   justify-content:space-evenly ;
   align-items:center;
}
.subheader{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.header{
    grid-column-start: 1;
    grid-column-end: 3;
}
.child1{
  border:1px dotted violet;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  background-color: aqua;
}
.child11{
  border: 2px solid red;
 height: 100px;
 width: 100px;
 background-color: aquamarine;
}
.child12{
  border: 1px solid cyan;
  height: 100px;
 width: 100px;
background-color: chocolate;}
.child13{
  border:2px solid blueviolet;
  height: 100px;
 width: 100px;
background-color: coral;}
.child14{
  border: 2px solid greenyellow;
  height: 100px;
 width: 100px;
 background-color: crimson;
}
.child2{
  border:1px dotted green;
  /* height:300px;
  width:300px; */
  background-color: red;
}
.child3{
  border:1px dotted blue;
  /* height:300px;
  width:300px; */
  background-color: yellow;
}
.child4{
  border:1px dotted;
  /* height:300px;
  width:300px; */
  background-color: orange;
}